<div ng-controller="CourseController as ctrl">   
    <!--<div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="list-group ">
                    <li ng-show="ctrl.courses.length == 0">
                        <b>No courses found..!</b>
                    </li>
                    <li class="list-group-item" ng-repeat="course in ctrl.courses">
                        {{course.CourseName}}
                    </li>
                </ul>
                <button class="btn btn-light" ng-click="ctrl.getCourses()">Get Courses</button>

            </div>
        </div>
    </div>-->

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="padding-left-20px"> {{ctrl.Msg}}</h3>
                <table class="table table-striped table-hover table-light col-lg-9">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="ctrl.courses.length == 0">
                            <td colspan="2"><b>No courses found..!</b></td>
                        </tr>
                        <tr ng-repeat="course in ctrl.courses">
                            <td>{{course.Id}}</td>
                            <td>{{course.CourseName}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button class="btn btnCustomColor" ng-click="ctrl.getCourses()">Get Courses</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</div>