.divLeftSideBar {
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 610px;
    background-color: #659dbd;
    text-align: center;
    font-size: large;
}

.divMainContent {
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 610px;
    background-color: #659dbd;
}

.divNavMenu {
    border-radius: 3px;
    min-height:40px;
    margin-top: 5px;    
    background-color: #659dbd;
}

.modelBackground{
    background-color :white;
}

.textAlignCenter {
   text-align:center;
}
.btnCustomColor {
    background-color: #659dbd;
    color:white;   
}

.navMenuItemColor{
    background-color:white;
    color:black;
}

/*padding*/ 

.padding-left-5px {
    padding-left: 5px;
}

.padding-left-10px {
    padding-left: 10px;
}
.padding-left-15px {
    padding-left: 15px;
}
.padding-left-20px{
    padding-left:20px;
}


.padding-right-5px {
    padding-left: 5px;
}

.padding-right-10px {
    padding-left: 10px;
}

.padding-right-15px {
    padding-left: 15px;
}

.padding-right-20px {
    padding-left: 20px;
}

.padding-right-30px {
    padding-left: 20px;
}

.padding-right-40px {
    padding-left: 20px;
}

.padding-right-50px {
    padding-left: 20px;
}

.padding-top-5px {
    padding-left: 5px;
}

.padding-top-10px {
    padding-left: 10px;
}

.padding-top-15px {
    padding-left: 15px;
}

.padding-top-20px {
    padding-left: 20px;
}

.padding-bottom-5px {
    padding-bottom: 5px;
}

.padding-bottom-10px {
    padding-bottom: 10px;
}

.padding-bottom-15px {
    padding-bottom: 15px;
}

.padding-bottom-20px {
    padding-bottom: 20px;
}